<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>    
    <%= render 'layouts/shim' %>
  </head>
  <body>
  	<%= render 'layouts/header' %>
    <div class="container wrapper">
      <div class="hook-div">
    	   <%= image_tag("hook.jpg", id: "hook-icon") %>
      </div>
      <div class="yield-div">
    	   <%= yield %>
      </div>
      <div class="push"></div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
